.sidebar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: var(--mantine-color-dark-0);
    border-radius: var(--mantine-radius-md);
}

.sidebar-button:hover {
    background-color: var(--mantine-color-dark-5);
}

.sidebar-button[data-active],
&.sidebar-button[data-active]:hover {
    color: var(--mantine-color-blue-light-color);
    background-color: var(--mantine-color-blue-light);
}
